input {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

img {
  width: 50%;
  height: auto;
}

#entertainment {
  width: 200px;
}

.not-showing {
  display: none;
}

.warning {
  display: none;
  color: red;
}
